@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

* {
    margin: 0;
    font-family: Sora;
}

body {
    background-color: #042940;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.groupNav {
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.direc {
    display: flex;
    gap: 20px;
}

.direc a {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    transition: 0.3s all;
}

.direc a:hover {
    opacity: 0.4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form {
    display: flex;
    width: 40%;
    gap: 25px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.camp {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.camp label {
    text-align: center !important;
}

.camp input {
    width: 100%;
    color: white;
    font-weight: 400;
    background-color: #042940;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    border: none;
}

label {
    color: #042940;
    font-size: 25px;
}

.campCheck {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#enviar {
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #042940;
    color: white;
    border: 2px solid #042940;
    cursor: pointer;
    transition: .7s all;
}

#enviar:hover {
    background-color: white;
    color: #042940;
}