@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

* {
    margin: 0;
    font-family: Sora;
}

body {
    background-color: #042940;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.groupNav {
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.direc {
    display: flex;
    gap: 20px;
}

.direc a {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    transition: 0.3s all;
}

.direc a:hover {
    opacity: 0.4;
}

h1 {
    background-color: #fff;
    text-align: center;
    width: 80%;
    border-radius: 20px 20px 0 0px;
    border-top: 20px;
    padding: 20px;
    margin: 0 auto;
}

#agroup {
    display: flex;
    background-color: white;
    justify-content: center;
    width: 80%;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.Teste {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: auto;
    background-color: grey;
}

.Teste>p {
    font-size: 20px;
}